<!-- views/siniestros.hbs -->
<section class="jumbotron bg-primary">
    <div class="jumbotron_body">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
                    <h1>Siniestros</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <button id="ejecutar-scripts" class="btn btn-primary">Ejecutar scripts nuevamente</button>
            <table class="table table-responsive-poncho dataTables">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Hora de carga</th>
                    <th>Número de formulario</th>
                    <th>Tipo de siniestro</th>
                    <th>Reporte</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each siniestros}}
                    <tr class="{{#if (includes this.reporte 'exitosa')}}success-row{{else}}error-row{{/if}}">
                    <td>{{this.id}}</td>
                    <td>{{formatDate this.hora_carga}}</td>
                    <td>{{this.numero_formulario}}</td>
                    <td>{{this.tipo_siniestro}}</td>
                    <td>{{{this.reporte}}}</td>
                    <td><a href="/siniestro/{{this.id}}">Ver</a></td>
                    
                    <!-- Agrega más celdas según los campos de tus siniestros -->
                    </tr>
                {{/each}}
            </tbody>
            </table>
        </div>
    </div>    
</section>
<a href="/">Volver</a>



<script>
document.getElementById('ejecutar-scripts').addEventListener('click', function() {
    fetch('/siniestro/ejecutar-scripts', {
        method: 'POST'
    }).then(response => {
        if (response.ok) {
            alert('Scripts ejecutados exitosamente');
            location.reload();
        } else {
            alert('Error al ejecutar scripts');
        }
    });
});
</script>